h1 {
  @apply text-xl;
  padding-top: 25px;
  padding-left: 25px;
}

.today {
  @apply text-right pr-1 text-white;
  background-color: #2A3778;
  width: 26px;
  height: 26px;
  border-radius: 5px
}

.normal-day {
  @apply pr-1 text-right;
  height:20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks {
  height:100%;
  width:100%;
  margin-top: 8px;
}

.current-month, .other-month{
  @apply border border-slate-300 h-28 flex;
  flex-direction: column;
  border-width: px;
}

.current-month:hover {
  background-color: #D4D4D4;
}

.weekdays {
  @apply border border-slate-300 flex justify-center;
  vertical-align: middle;
  padding-top: 3px;
  padding-bottom: 3px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.kalender {
  @apply w-11/12 border-2 border-slate-300 bg-neutral-100 grid grid-cols-7 lg:w-11/12 xl:w-11/12 max-w-7xl;
  height: 80%;
  display: grid;
  grid-template-rows: 32px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  height: 594px;
}

.arrow {
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
}

.heute {
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 5px 22px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: rgb(245 245 245);
  border-radius: 5px;
  border-style: solid;
  border-width: medium; 
}
.heute:hover {
  background-color: #D4D4D4;
}

.addButton {
  font-size: 8px;
  background-color: #9b99ca;
  height: 20px;
  width: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  justify-content:center;
  }

.addButton:hover {
background-color: #8080E4;
}