h1 {
  font-size: 1.25rem; /* entspricht text-xl */
}

.today {
  text-align: right;
  padding-right: 0.25rem; /* entspricht pr-1 */
  color: #fff; /* entspricht text-white */
  background-color: #2A3778;
  width: 26px;
  height: 26px;
}

.normal-day {
  text-align: right;
  padding-right: 0.25rem; /* entspricht pr-1 */
}

.feld {
  border: 1px solid #CBD5E0; /* entspricht border border-slate-300 */
  display: flex;
  justify-content: flex-end; /* entspricht flex justify-end */
}

.feld:hover {
  background-color: rgb(212, 212, 212);
}

.weekdays {
  border: 1px solid #CBD5E0; /* entspricht border border-slate-300 */
  display: flex;
  justify-content: center; /* entspricht flex justify-center */
}

.kalender {
  width: 91.66666667%; /* entspricht w-11/12 */
  height: 33.33333333%; /* entspricht h-1/3 */
  border: 2px solid #CBD5E0; /* entspricht border-2 border-slate-300 */
  background-color: #EDF2F7; /* entspricht bg-neutral-100 */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 80rem; /* entspricht max-w-7xl */
}

.arrow {
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
}

.heute {
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 5px 22px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border-style: solid;
  border-width: medium; 
}

.heute:hover {
  background-color: rgb(212, 212, 212);
}