#display-box {
    width: 92%; 
    padding: 20px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    height: 1000px; 
    border: 1px solid #ccc;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    color: #333; 
    background-color: rgb(245 245 245); 
    overflow: auto; 
    position: relative;
    max-height: min-content;
    height: 200px;
    border-radius: 5px;
}
h3{
    font-weight: bold;
    
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }

#removeBtn:hover {
    cursor: pointer;
}