h3 {
  font-size: 20px;
}

.display-box {
  background-color: rgb(245 245 245); 
  border: 1px solid #707070; 
  padding-bottom: 20px;
  padding-left: 20px; 
  width: 500px;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;

}

ul {
  padding: 0;
  width: 400px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.remove-button {
  cursor: pointer;
}

#todo-input {
  width: 300px;
  height: 30px;
  border: solid;
  border-color: #C8C8C8;
  border-width: 2px;
}

#add-todo {
  width: 150px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #2A3778;
  color: white;
  border-radius: 10px;
  border: none;
}

#add-todo:hover {
  background-color: #8080E4;
  color: white;
}

.dot {
  width: 20px;
}

#display-box-projects {
  width: 93%; 
  padding: 20px;
  margin-top: 70px;
  box-sizing: border-box;
  height: 1000px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  color: #333; 
  background-color: rgb(245 245 245); 
  overflow: auto; 
  position: relative;
  max-height: min-content;
  height: 594px;
  border-radius: 5px;
}

#add-todo {
  margin-top: 10px;
}