h3 {
  font-size: 27px;
  margin-bottom: 10px;
  font-weight: normal;
}

.display-box {
  background-color: rgb(245 245 245); 
  border: 1px solid #707070; 
  padding-bottom: 20px;
  padding-left: 20px; 
  width: 500px;
  font-family: Arial, sans-serif; 
  margin-top: 100px;

}

ul {
  padding: 0;
  width: 400px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
}

.remove-button {
  cursor: pointer;
}

#todo-input {
  width: 300px;
  height: 30px;
  border: solid;
  border-color: #C8C8C8;
  border-width: 2px;
}

#add-todo:hover {
  background-color: #8080E4;
  color: white;

}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

#display-box-projects {
  width: 100%; 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
  padding: 10px; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  color: #333; 
  background-color: rgb(245 245 245); 
  
  max-height: min-content;
  border-radius: 5px;
  
  height: 594px;
  margin-bottom: 20px;
}

#add-todo {
  margin-top: 10px;
}