#modal {
    display: none;
    max-height: 80vh;
    @apply ring-0;
  }

  input[type="text"]:focus {
    outline: none; /* Entfernt den orangenen Rand */
  }
  
  .modal.show {
    display: block;
    
    /* Füge hier deine weiteren Styling-Anpassungen hinzu, um das Modalfenster zu positionieren und zu gestalten */
  }
